/* Normalize styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set default font family */
body,
html,
#root {
  font-family: 'Roboto', sans-serif; /* Or your custom font */
  height: 100%;
}

/* Reset box-sizing globally */
*,
*::before,
*::after {
  box-sizing: inherit;
}
