/* Normalize styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set default font family */
body,
html,
#root {
  font-family: 'Roboto', sans-serif; /* Or your custom font */
  height: 100%;
}

/* Reset box-sizing globally */
*,
*::before,
*::after {
  box-sizing: inherit;
}


input[type="number"] {
  appearance: textfield; /* Standard property for compatibility */
  -moz-appearance: textfield; /* Specific for Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Remove spin buttons for WebKit browsers */
  margin: 0;
}